.about-section {
  margin-top: 10px;
  padding-top: 40px;
  width: 100%;

  box-sizing: border-box;

  padding-top: 40px;
  /* height: 100%; */
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
  z-index: 1;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  /* width: 75%; */
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  /* width: 75%; */
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* font-family: Monaco,Consola,"Lucida Console",monospace; */
  /* font-family: Monaco,Consolas, "Lucida Console", monospace; */
  font-family: "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New",
    monospace;
}

.fakeScreen > div:not(:last-child) p:nth-child(even) {
  color: #a22b2b;
  padding-bottom: 20px;
}

.fakeScreen a {
  color: #2ba2a2;
  text-decoration: none;
}
span.cursor {
  background: hsla(0, 0%, 97%, 0.65);
  animation: caret 1s steps(1) infinite;
}

h2 {
  font-size: 24px;
}

/* span {
  font-size: 50px;
} */

.container {
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
  /* padding: 20px; */
}
.para {
  font-size: 16px;
  /* width: 75%; */
  /* margin-left: 50px;; */
}
strong {
  font-weight: bolder;
}
h2::after {
  content: "";
  display: block;
  width: 25px;
  /* margin: 0 auto; */
  margin-top: 20px;
  border-bottom: 4px solid #2ba2a2;
}

.custom-list {
  list-style: none;
  padding-left: 0;
}

.custom-list li::before {
  content: ">";
  margin-right: 5px;
}

@keyframes caret {
  50% {
    background-color: transparent;
  }
}

a > img {
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2.5fr 1fr; /* Two columns */
  gap: 20px; /* Adjust the gap as needed */
}

.gridItem:first-child {
}

.gridItem:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* justify-self: end; */
}

.mobile-link {
  width: 100%;
  display: none;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr; /* Change to a single column for smaller screens */
  }

  .gridItem {
    /* Adjust styles for smaller screens if needed */
  }

  /* Hide the default link for smaller screens */
  .default-link {
    display: none;
  }

  /* Display the mobile link for smaller screens */
  .mobile-link {
    display: block;
    /* Add any specific styles for the mobile link */
  }
}
