.contact-section {
  margin-top: 10px;
  padding-top: 40px;
  width: 100%;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
}

.h2 {
  font-size: 24px;
}

.h2::after {
  content: "";
  display: block;
  width: 25px;
  margin-top: 20px;
  border-bottom: 4px solid #2ba2a2;
}

.form-container {
  /* max-width: 400px; */
  margin: auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 400px; */
}

.contact-form {
  /* max-width: 100%; */
  margin: auto;
  /* width: 100%; */
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  box-sizing: border-box;
}

.contact-form textarea {
  width: 100%;
  min-width: 200px;
  min-height: 15em;
  resize: vertical;

  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.contact-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  /* cursor: pointer; */
}

.contact-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.contact-form button:hover {
  background-color: #28822b;
}

.validation-error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

.valid-input {
  border: 1px solid green;
}

.contact-form textarea:focus,
.contact-form input:focus {
  outline: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
}

.gridItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text-above-image *,
.text-below-image * {
  margin: 0;
  padding: 0;
}

.text-wrapper h3 {
  font-size: 3rem;
}

.text-below-image {
  text-align: justify;
  /* font-size: 1rem; */
}

.contact-image {
  width: 70%;
  align-self: center;
  max-width: 100%;
}

input {
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: #a22b2b;
}


@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .gridItem {
  }

  .text-above-image {
    display: none;
  }
}
