.progress-container {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #00ff00; 
  transition: width 0.05s ease 0s;
}
