.project-section {
  margin-top: 10px;
  padding-top: 40px;
  width: 100%;
  /* flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.project-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3,auto);
  gap: 1.5rem;
  /* height: 100vh; */
}

.card {
  /* max-width: 400px;
    min-width: 300px; */
  /* flex:1; */
  /* height:200px; */
  padding: 20px;
  border: 2px solid white;
  background: transparent;
  border-radius: 10px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  transition: background-color 0.3s, color 0.3s;
}

.card:hover {
  background-color: whitesmoke;
  font-weight: bold;
  color: #165757;
}

.card:hover  .card-title {
  color: black;
}

.card:hover .card-skills-text {
  color: black
}
.card:hover > .card-skills {
  color: #571616;
}

.card:hover .card-button {
  border: 2px solid #165757;
  color: #165757;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  /* height:30px; */
}

.card-description {
  font-size: 1rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  /* height:100px; */
}

.card-skills {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center; 
  gap: 10px; 
}

.card-button {
  /* width: 100%; */
  flex: 1;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.card-button:hover {
  background-color: #165757;
  border-color:#165757 !important;
  color: white !important;
}

.container {
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
  /* padding: 20px; */
}

.para {
  font-size: 25px;
  /* width: 75%; */
  /* margin-left: 50px;; */
}

@media (max-width: 750px){
  .project-container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,auto);
    gap: 1.5rem;
    /* height: 100vh; */
  }
}

@media (max-width: 1000px ) and (min-width: 751px){
  .project-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8,auto);
    gap: 1.5rem;
    /* height: 100vh; */
  }
}

