.hidden {
  display: none;
}

.showButton {
  position: fixed;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.25rem;
  right: 5%;
  bottom: 5%;
  font-size: 3vw; 
  color: grey;
  cursor: url("./../../public/middle-finger.cur"), pointer;
  transform: translateX(-10%);
  animation: slideLeft 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-10%);
  }
}

@media (max-width: 768px) {
  .showButton {
    font-size: 6vw;
  }
}
